nav a{
	color:white;
}

.side a{
	color:#505050;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
	z-index:11;
}
.fot a{
	color:white;
}
.fot{
	color:white;
	background-color:#e85664!important;
	height:30px;
	line-height:1px;
	-webkit-box-shadow: 0px -3.5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3.5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -3.5px 5px 0px rgba(0,0,0,0.75);
}
.tog .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#f8f9fabf' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.tog.navbar-toggler {
  border-color: rgb(255,102,203);
} 
.bg-nav{
	background-color: #e85664!important;
	color: rgba(255,255,255,.5);
}

.navbar{
	border-bottom:5px solid #b9616a;
	color: rgba(255,255,255,.5);
}

.act .nav-link{
	background-color:white;
	color:rgba(181, 9, 9, 0.5);
	border-radius: 15px;
}

body{
	background-color:#efefef;
}
.side{
	position:relative;
	background-color:white;
	margin-bottom:50px;
	margin-top:20px;
	border-radius:5px;
	padding:6%;
}
.card{
	position:relative;
	background-color:white;
	margin-bottom:20px;
	margin-top:20px;
	border-radius:5px;
	padding:6%;
}
.card:hover {
		-ms-transform: scale(.3,.3); /* IE 9 */
    -webkit-transform: scale(1.01,1.01); /* Safari */
    transform: scale(1.001,1.001);
		-webkit-box-shadow: 2px 2px 2px 2px rgba(193,79,82,1);
-moz-box-shadow: 2px 2px 2px 2px rgba(193,79,82,1);
box-shadow: 2px 2px 2px 2px #b7b7b7;
		z-index:10;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
		cursor:pointer;
		background-color:white;
	}

	
.postinfo{
	opacity:.8;
	margin-bottom:10px;
}
.ptitle {
	top:0;
	margin-bottom:10px;
}

.pcontent{
	
	bottom:0;
}

.cont {
	left:10%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.side button{
	background-color:#e85664;
	color:white;
	border-radius:17px;
	padding:2%;
}

.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eb5664;
    border-radius: 50%;
}

.cont:hover input ~ .checkmark {
    background-color: #ccc;
}

.cont input:checked ~ .checkmark {
    background-color: #eb5664;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cont input:checked ~ .checkmark:after {
    display: block;
}

.cont .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}